fastapi
uvicorn
python-dotenv
requests
langchain
langchain-openai
langchain-community
langgraph
chromadb
sentence-transformers
langfuse
mlflow
pydantic
datasets
numpy==1.26.4
scipy==1.11.4
litellm
groq
pytest
httpx
